.navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 35px;
    padding: 0 16px; 
    box-sizing: border-box; 
    overflow: hidden; 
}

.Logo {
    left: 100px;
    width: max(7.5vw, 100px);
    position: absolute;
    width: 80px;
}

.Logo:hover {
    cursor: pointer;
}

.Logo img {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    background-color: rgba(1, 45, 1, 1);
    border: 1px solid rgba(40, 251, 117, 1);
    border-radius: 30px;
    padding: 12px 8px; 
    overflow: hidden;
}

.menu button, .menu Button {
    background-color: transparent;
    color: white;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap; 
}

.menu button:hover {
    cursor: pointer;
    color: #88ff98;
}

@media (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap;
    }

    .Logo {
        position: static;
        width: 80px;
    }

    .menu {
        width: 70%; 
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: center;
    }

    .Logo {
        width: 70px;
    }

    .menu {
        flex-direction: column; 
        width: 90%;
        padding: 10px 0;
    }

    .menu button, .menu Button {
        font-size: 14px; 
        margin: 5px 0; 
    }
}

@media (max-width: 426px) {
    .Logo {
        width: 60px;
        margin-bottom: 20px;
    }

    .menu {
        width: 100%; 
        padding: 8px 0;
    }

    .menu button, .menu Button {
        font-size: 12px; 
    }
}
